body {
  /* background: #3d3d3d; */
  background: #edf2f7;
  font-family: Helvetica, Arial, Sans-Serif;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
